.header {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 700;
  }
  &__logo-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    &__nav {
      display: flex;
      align-items: center;
      justify-content: left;
    }
    &__item {
      margin-right: 2rem;
      list-style: none;
    }

    &__link {
      text-decoration: none;
      color: #000;
      cursor: pointer;
    }
  }

  &__logout-button {
    display: flex;
    align-items: center;
  }

  &__logout-icon {
    margin-left: 0.5rem;
  }
}
