.transaction {
  &__sidenav {
    position: fixed;
  }
  &__content {
    padding: 2rem 3rem;
    width: 40vw;
    z-index: 100;
  }

  &__header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button-group {
    display: flex;
    align-items: center;
    button {
      border: none;
      background-color: inherit;
      color: #000;
      margin: 0 0.5rem;
    }
  }

  &__amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    font-size: 1.3rem;

    .amount-expense {
      color: #ee3f19;
      font-weight: 700;
    }
    .amount-income {
      color: #21c206;
      font-weight: 700;
    }

    .amount-expense::before {
      content: '-';
    }
  }
  &__type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    border-radius: 50%;
    color: white;
    margin-right: 0.5rem;

    &.expense {
      background-color: #ee3f19;
    }
    &.income {
      background-color: #21c206;
    }
  }

  &__category {
    padding: 1rem 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 1rem 0;
  }
}

.categories {
  margin: 0.5rem 0;
}
